body {
    text-align: center;
    background: #004d40;
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
    color: white;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 70px;
    width: 100%;
    height: 300px;
}

#clockdiv>div {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: #00BFA5;
    display: inline-block;
    width: 25%;
    height: 80%
}

.timeUnit {
    line-height: 150px;
    padding: 15px;
    border-radius: 3px;
    background: #1F6F60;
    display: inline-block;
    width: 80%;
    height: 60%;
}

.smalltext {
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
}